#main h1 {
    left:20px;
    top:160px;
    position: absolute;
}
#main p {
    left:20px;
    top:200px;
    position: absolute;
}
/* but at least now i got these^ in the spot i wanted */
body {
    height: 100%;
    background-color: #ffffff;
    background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover,over;
    background-position: top left,center center,bottom center;
    background-attachment: fixed,fixed,fixed;
}
#main {
    max-width:75px;
    height: 200px;
    position:absolute;
    min-width:15em;
    padding: 10%;
    background:whitesmoke;
    border-radius:2%;
    opacity:1;
    text-align:center;
}
html, body {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#main .self {
    display:flex;
    margin-bottom:50px;
    top:-100px;
    position:absolute;
}

#main .self img {
    height:150px;
    border-radius: 5%;
    position:absolute;
    top: 110px;
    left: -130px;
}
#wrapper {
    align-items:center;
    position: inherit;
    min-height: 100%;
    padding: 1.5em;
} 